:root {
  --background-color: #171a21;
  --text-color: #c6c8d0;
  --accent-color: #4f5f70;
  --button-background-color: #2a475e;
  --button-hover-color: #466600;
  --error-background-color: #FFD2D2;
  --error-text-color: #D8000C;
  --modal-background-color: rgba(0, 0, 0, 0.4);
  --stats-background-color: #2a475e;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: var(--accent-color);
  text-align: center;
}

input[type="text"],
button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 10px;
  background-color: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(110, 110, 114, 0.2);
  color: var(--text-color);
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

button:hover,
li:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.hidden {
  display: none;
}

.error-message {
  color: var(--error-text-color);
  background-color: var(--error-background-color);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.stats-container {
  display: none;
  justify-content: space-between;
  background-color: var(--stats-background-color);
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  font-weight: bold;
}

li {
  background-color: var(--button-background-color);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-background-color);
}

.modal-content {
  background-color: var(--stats-background-color);
  margin: 5% auto;
  padding: 25px;
  border: 1px solid var(--stats-background-color);
  width: 60%;
  max-width: 700px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
}

.close {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}